.sidebar {
  width: 260px;
  height: 100vh;
  background: #00223e;
  color: #fff;
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;


  &.collapsed {
    width: 80px;

    .text {
      display: none;
    }

    .icon {
      font-size: 22px;
    }
  }
}

.parentItem {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: auto;
  font-size: 12px;
}

.submenu {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 4px;
  margin-bottom: 6px;
}

.subItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s ease;

  &:hover {
    background: #f0f8ee;
    color: #59c241;
  }

  &.active {
    background: #59c241;
    color: #fff;
  }
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.toggle {
  display: none;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  text-align: right;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* Item */
.item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 20px;
  margin: 6px 10px;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: all 0.25s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(4px);
  }
}

/* Active */
.active {
  background: #fff;
  color: #59c241;
  font-weight: 600;

  .icon {
    color: #59c241;
  }
}

/* Icon */
.icon {
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* Text */
.text {
  font-size: 15px;
  white-space: nowrap;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 1000;
    transform: translateX(0);

    &.collapsed {
      transform: translateX(-100%);
    }
  }

  .toggle {
    display: block;
  }
}